<% include ../partials/boilerplate %>

<div class="add">
  <form method="POST" action="/auth/register">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="email" name="email" placeholder="Email" />
    <input type="submit" value="Register" />
  </form>
</div>

<% include ../partials/end %>
