<header>
  <div class="logo">
    <h1>Stock Saver</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/stocks">Add Stock</a></li>
      <li><a href="">Remove From List</a></li>
    </ul>
  </nav>
</header>
