<header>
  <div class="logo">
    <h1>Stock Saver</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/stocks">Show Stock</a></li>
      <li><a href="/stocks/new">Add Stock</a></li>
      <li><a href="/stocks/edit">Edit</a></li>
    </ul>
  </nav>
</header>
