<% const myName = 'marty mcfly'; %>
<div class="flashcard-single-container">
    <div class="flashcard">
        <h3><%= flashcard.question %></h3>
        <p><%= flashcard.answer %></p>
        <div class="meta">
            <div class="category">
                Category: <%= flashcard.category %>
            </div>
            <div class="difficulty">
                Difficulty: <%= flashcard.difficulty %>
            </div>
        </div>
    </div>
</div>
