<% include ../partials/boilerplate %>

<form method="POST" action="/stock/search/<%= e.id %>?_method=DELETE">
            <button type="submit">Delete</button>
          </form>

<% include ../partials/end %>
