<% include ../partials/boilerplate %>
<button>Pick Stock </button>
<br>
<a href="/stock">Go back to home</a>
<script src='/src/jquery.js'></script>
<script src='/src/main.js'></script>
<% include ../partials/end %>
